name: Lint & Test on PR

on:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-slim
    env:
      DENO_DIR: /home/runner/.cache/deno
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup Deno
        uses: denoland/setup-deno@v2.0.3
        with:
          deno-version: "~2.5"

      - name: Use dependency cache
        uses: actions/cache@v4
        with:
          path: ${{ env.DENO_DIR }}
          key: ${{ hashFiles('deno.lock') }}

      - name: Run static checks(type check, format, lint)
        run: deno task static-checks

      - name: Run JSR publish check
        run: deno task publish-check

      - name: Run tests
        run: deno task test

  typos:
    name: Detect typos
    runs-on: ubuntu-slim
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Run typos
        uses: crate-ci/typos@v1.39.2
