name: Lint & Test on PR

on: 
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-22.04
    env:
      DENO_DIR: /home/runner/.cache/deno
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2.0.0
        with:
          deno-version: "~2.0"

      - name: Use dependency cache
        uses: actions/cache@v4
        with:
          path: ${{ env.DENO_DIR }}
          key: ${{ hashFiles('deno.lock') }}

      - name: Run static checks(type check, format, lint)
        run: deno task static-checks

      - name: Run JSR publish check
        run: deno task publish-check

      - name: Run tests
        run: deno task test
