name: Deno Update

on:
  schedule:
    # every Saturday at 09:00 UTC (00:00 JST)
    - cron: "0 9 * * 6"
  workflow_dispatch:

jobs:
  update:
    permissions:
      contents: write
      pull-requests: write

    runs-on: ubuntu-slim

    steps:
      - name: Generate GitHub App token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: create-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Setup repo
        uses: actions/checkout@v6
        with:
          token: ${{ steps.create-token.outputs.token }}

      - name: Setup Deno
        uses: denoland/setup-deno@v2.0.3
        with:
          deno-version: "~2.5"

      - name: Update dependencies with `deno outdated`
        id: deno-outdated
        run: |
          RESULT=$(deno outdated --update 2>&1) || true
          echo "result<<EOF" >> $GITHUB_OUTPUT
          echo "$RESULT" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

          if git diff --quiet; then
            UPDATED="false"
          else
            UPDATED="true"
          fi
          echo "updated=$UPDATED" >> $GITHUB_OUTPUT

          echo "result:"
          echo "$RESULT"
          echo
          echo "updated: $UPDATED"
        env:
          NO_COLOR: "1"

      - name: Create Pull Request
        if: steps.deno-outdated.outputs.updated == 'true'
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ steps.create-token.outputs.token }}
          commit-message: "chore(deps): update deno dependencies"
          branch: chore/update-deno-deps
          delete-branch: true
          title: "chore(deps): Update Deno Dependencies"
          body: |
            Updated dependencies with `deno outdated --update`:

            ```
            ${{ steps.deno-outdated.outputs.result }}
            ```
          labels: |
            dependencies
